<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script type="application/javascript" src="/JS/Login-Register.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/CSS/Login-Register-Page.css">
</head>

<body>
    <h1>Forgot Password?</h1>
    <div id="forms">

        <form id="ForgotPassword" action="/passemail" method="POST">
            <div class="imgcontainer">
                <img src="/Images/Login.png" alt="Avatar" class="avatar">
            </div>

            <div class="cont">
                <label for="email"><b>Email ID</b></label>
                <input id="f1" type="text" placeholder="Enter Email Id" name="email" required>
                <button type="submit">Send Mail</button>
                <a href="/login"><button type="button">Go Back</button></a>
            </div>
        </form>
    </div>
    <div id="foot">
        <footer>
            <p>
                <span>All Rights Reserved</span>
                <span>
                <img src="/Images/FB.jpg ">
                <img src="/Images/Insta.png ">
                <img src="/Images/Twitter.png ">
            </span>
                <span style="float: right;">Developed by Gagan Singhal.</span>

            </p>
        </footer>
    </div>
</body>

</html>